<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>projects</title>
  </head>
  <body>
    <div class='container'>
    {{> title}}

    <p>Here are all my projects</p>

    {{> footer}}
  </div>
  </body>
</html>
